%h2 Edit event

= simple_form_for @event do |f|
  = f.input :title
  = f.input :date
  = f.input :type_repeat, collection: @type_repeat, selected: @event.type_repeat

  .text-center
    = f.submit "Сохранить изменения", class: "btn btn-success"
