%h2 All events

- if @events.empty?
  %p События не были созданы.
- else
  %table.table
    %th date
    %th title
    %th type_repeat
    %th delete?
    - @events.each do |event|
      %tr
        -# %td= event.date.strftime("%d.%m.%Y")
        %td= event.date
        %td= link_to event.title, event
        %td= event.type_repeat
        %td= link_to "Удалить",
                      event, method: :delete,
                      data: {confirm: "Точно удалить?"}

.text-center
  = link_to "Создать", new_event_path, class: "btn btn-primary"
