%h2 Create new event

= simple_form_for @event do |f|
  = f.input :title
  = f.input :date
  = f.input :type_repeat, collection: @type_repeat, selected: @type_repeat[:day]

  = f.submit "Создать событие", class: "btn btn-primary"
