.panel.panel-default
  .panel-heading
    = @event.title
  %ul.list-group
    %li.list-group-item
      %b.list-group-item-heading
        = "#{t("event.date")}:"
      %p.list-group-item-text
        = @event.date
    %li.list-group-item
      %b.list-group-item-heading
        = "#{t("event.type_repeat")}:"
      %p.list-group-item-text
        = @event.type_repeat

.text-center
  = link_to "Редактировать", edit_event_path(@event), class: "btn btn-primary"
