%h2 All events
- if @events.empty?
  %b События не были созданы.
- else
  %table
    %th id
    %th title
    %th date
    %th type_repeat
    %th delete?
    - @events.each do |event|
      %tr
        %td= event.id
        %td= event.title
        %td= event.date
        %td= event.type_repeat
        %td= link_to "Удалить", event, method: :delete, data: {confirm: "Точно удалить?"}
