%h2 Create new event
- @event.errors.full_messages.each do |msg|
  %li= msg
= form_for @event do |f|
  %p
    %label
      Title:
      \#{f.text_field :title}
  %p
    %label
      Date:
      \#{f.text_field :date}
  %p
    %label
      Type repeat:
      -# TODO: исправить после конвертирования
      \#{f.select(:type_repeat, options_for_select( [ ["Каждый день", "daily"], ["Каждую неделю", "weekly"], ["Каждый месяц", "monthly"], ["Каждый год", "yearly"] ], "daily" ) )}
  %p
    = f.submit "Создать событие"
